<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program_dummy.name %>
</p>

<%= link_to 'Edit', edit_program_dummy_path(@program_dummy) %> |
<%= link_to 'Back', program_dummies_path %>
