<h1>Editing Program Relationship</h1>

<%= render 'form', program_relationship: @program_relationship %>

<%= link_to 'Show', @program_relationship %> |
<%= link_to 'Back', program_relationships_path %>
